#first-information,
#header {
    background-color: #1f2937;
    display: flex
}

.card img,
img {
    border-radius: 50%
}

#footer,
#fourth-information .reach-me-bottom,
#fourth-information .text-title,
.description,
.header-text,
.name {
    font-family: Roboto;
    color: #f9faf8
}

#content,
body {
    display: flex;
    flex-direction: column
}

#header {
    padding: 16px 64px;
    justify-content: space-between;
    align-items: center
}

.header-text {
    font-weight: 800;
    font-size: 16px
}

.header-links {
    display: flex;
    flex-direction: row;
    font-family: Roboto;
    gap: 16px;
    font-size: 14px
}

.header-links a {
    text-decoration: none;
    color: #e5e7eb;
    margin: 0;
    padding: 0;
    gap: 16px
}

#first-information {
    padding: 64px;
    flex-direction: row;
    justify-content: space-between
}

.name {
    margin: 0;
    padding: 0;
    font-size: 32px
}

.description {
    margin: 8px 0;
    width: 400px;
    font-weight: 400;
    font-size: 16px;
    text-wrap: pretty
}

.reach-me {
    margin-top: 8px;
    padding: 8px 16px;
    background-color: #3882f6;
    color: #e5e7eb;
    font-size: 14px;
    border-radius: 16px;
    border-style: none;
    font-weight: 800;
    outline: 0
}

img {
    width: 300px;
    height: auto;
    object-fit: scale-down
}

#second-information {
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    margin-bottom: 32px
}

#second-information h2 {
    font-size: 48px;
    font-weight: 800;
    font-family: Roboto;
    color: #1f2937
}

.cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 32px
}

.card {
    display: flex;
    flex-direction: column;
    font-family: Roboto;
    justify-content: center;
    align-items: center
}

.card a {
    color: #1f2937;
    text-decoration: none
}

.card img {
    width: auto;
    height: 50px;
    max-width: 80px;
    border-color: #3882f6
}

#third-information {
    display: flex;
    padding: 32px;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    font-family: Roboto;
    color: #1f2937
}

#third-information p {
    max-width: 500px;
    font-style: italic;
    font-weight: 100;
    text-align: start;
    display: inline;
    font-size: 36px
}

#fourth-information {
    background-color: #3882f6;
    margin: 64px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 10px;
    justify-content: space-around;
    gap: 32px;
    font-family: Roboto
}

#fourth-information .text-container {
    padding: 32px;
    background: #3882f6;
    display: flex;
    flex-direction: column
}

#fourth-information .text-title {
    font-weight: 700
}

#fourth-information .text-description {
    font-weight: 300;
    font-family: Roboto;
    color: #f9faf8
}

#fourth-information .reach-me-bottom {
    background-color: #3882f6;
    border-color: #f9faf8;
    outline: 0;
    padding: 4px 16px;
    border-radius: 8px
}

#footer {
    padding: 16px;
    background: #1f2937;
    text-align: center;
    font-size: 12px
}